.project-container {
  width: 100vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  background-color: #FDFCFC;
  align-items: center;
}

.skill-heading-container {
  width: 80%;
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-heading {
  font-size: 2rem !important;
  font-family: 'Droid Serif,Georgia,serif0' !important;
  font-weight: 600 !important;
  text-align: center;
}

.project-main-container {
  width: 100%;
  height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-content {
  height: 80%;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 1px 10px 3px #d4d9d6;
}

.project-tab-container {
  flex: 2;
  border-right: 1px solid black;
}

.project-data-container {
  flex: 8;
}


.project-tab {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding-left: 1rem;
  /* box-shadow: 0px 1px 10px 3px #d4d9d6; */
}

.project-tab-content {
  width: 100%;
  text-transform: uppercase;
  margin-left: 1rem;
  font-size: 1rem !important;
  font-family: 'Droid Serif,Georgia,serif0' !important;
  font-weight: 600 !important;
}

.card-container {
  width: 90%;
  height: 84%;
  padding: 5%;
  background-color: rgb(33, 150, 243);
}

.card-project-name {
  color: white;
  font-size: 3rem;
  font-family: 'Droid Serif,Georgia,serif0';
  font-weight: 600;
  margin: 1rem;
}

.card-description {
  color: #ffffff;
  margin: 1rem;
  font-size: 1.2rem;
  font-family: 'Droid Serif,Georgia,serif0';
  font-weight: 600;
  padding-top: 1.5rem;
}

.card-tech-stack {
  color: #ffffff;
  margin: 1rem;
  font-size: 1.2rem;
  font-family: 'Droid Serif,Georgia,serif0';
  font-weight: 600;
  padding-top: 1.5rem;
}

.card-category {
  color: #ffffff;
  margin: 1rem;
  font-size: 1.2rem;
  font-family: 'Droid Serif,Georgia,serif0';
  font-weight: 600;
  padding-top: 1.5rem;
}

.project-active-tab {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: rgb(33, 150, 243);
  padding-left: 1rem;
}

.project-skills-container {
  width: 85% !important;
  height: 100%;
  margin-left: 7.5% !important;
}

.project-skills-item {
  margin-bottom: 10px !important;
}

.project-skill-image {
  width: 7rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafbfc;
  border-radius: 3.5rem;
  box-shadow: 0px 2px 5px 0px black;
}

.project-skill-div {
  width: 80%;
}

.projects-project-container {
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.project-heading-container {
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.project-heading {
  font-size: 2rem !important;
  font-family: 'Droid Serif,Georgia,serif0' !important;
  font-weight: 600 !important;
  text-align: center;
}

.project-item-container {
  width: 80%;
  height: 85%;
  border-radius: 10px;
  padding-top: 2rem;
  padding-left: 3rem;
  background-color: white;
  padding-right: 3rem;
  box-shadow: 0px 1px 3px 4px #d4d6d5;
}

.project-item-heading {
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Droid Serif,Georgia,serif0';
  margin-bottom: 2rem;
}

.project-item-category {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Droid Serif,Georgia,serif0';
  margin-bottom: 0.5rem;
}

.project-item-tech-stack {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Droid Serif,Georgia,serif0';
  margin-bottom: 0.5rem;
}

.project-item-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.project-item-link {
  flex: 1;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Droid Serif,Georgia,serif0';
  margin-bottom: 0.5rem;
}