.contact-container {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-inner-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #bdbfbe;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 8px 3px #bdbfbe;
    background-color: white;
}

.contact-grid {
    height: 100%;
    width: 100%;
}

.contact-grid-item {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.contact-heading-container {
    width: 100%;
    height: 80%;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #cfd1cf;
    margin-top: 2rem;
}

.contact-form-container{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-social-icon {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #cfd1cf;
    margin-bottom: 1rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    box-shadow: 3px 3px 6px 1px #cfd1cf;
}

.contact-chat-heading {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-icon-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-heading {
    font-size: 1.5rem;
    font-family: 'Droid Serif,Georgia,serif0';
}

.contact-icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon-text {
    flex: 3;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: 'Droid Serif,Georgia,serif0';
}

.contact-sub-heading {
    font-size: 1rem;
    font-family: 'Droid Serif,Georgia,serif0';
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-left: 0.1rem;
}

.contact-form-fields {
    width: 80%;
    margin-bottom: 1rem !important;
    border-radius: 2rem;
    font-family: 'Droid Serif,Georgia,serif0';
}

.contact-form-button {
    width: 80%;
    padding: 1rem 0rem 0rem 0rem;
}